body {
  background-color: #97DECE;
}

hr {
  border-style: dotted none none;
  background-color: #97DECE;
  border-width: 5px;
  border-radius: 1;
  height: 0.0px;
  width: 5%;

}
h1{
  color: #CB1C8D;
}
h2{
  color:#CB1C8D;
}
